<div class="jumbotron sponsorship-form">
<%= form_for(sponsorship_application_path(@application.sponsorship_id, @application.id)) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsorship.application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @sponsorship.application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sport %><br>
    <%= f.text_field :sport %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :approval %><br>
    <%= f.radio_button(:approval, true) %>
    <%= label_tag(:approval_true, "Give Player Sponsorship") %>
    <%= f.radio_button(:approval, false) %>
    <%= label_tag(:approval_false, "Remove Sponsorship") %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
