<head> <link href="stylesheets/apps_index.css" rel="stylesheet">
</head>


<% if current_user.admin == true && @sponsorship.user_id == current_user.id %>

<div class="container">
  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h3 id="pend-app">Pending Applications</h3>
      </div>
  </div>

<hr>
    <div class="pending-form">
    <div class="row text-center">
    <% @sponsorship.applications.each do |application| %>
    <% if application.approval == false %>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3><%= application.name  %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <%= link_to 'Show', sponsorship_application_path(application.sponsorship_id, application.id), class:'btn btn-primary', style: 'color:#FFFFFF;' %>
                            <%= link_to 'Destroy', sponsorship_application_path(application.sponsorship_id, application.id),class:'btn btn-danger', style: 'color:#FFFFFF;', method: :delete, data: { confirm: 'Are you sure?' } %>
                        </p>
                    </div>
                </div>
            </div>
      <% end %>
  <%end%>


<br>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 id="pend-app">Approved Applications</h3>
            </div>
        </div>

        <hr>
  <div class="row text-center">

    <% @sponsorship.applications.each do |application| %>
    <% if application.approval == true %>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3><%= application.name  %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <%= link_to 'Show', sponsorship_application_path(application.sponsorship_id, application.id), class:'btn btn-primary',style: 'color:#FFFFFF;' %>
                            <%= link_to 'Destroy', sponsorship_application_path(application.sponsorship_id, application.id), class:'btn btn-danger', style: 'color:#FFFFFF;', method: :delete, data: { confirm: 'Are you sure?' }%>
                        </p>
                    </div>
                </div>
            </div>
            <%else%>
            <p>No approved applications</p>
      <% end %>
    <% end %>
<% end %>
</div>
</div>
</div>
</div>
