
<p id="notice"><%= notice %></p>
<h1 id="app" class="col-lg-4 col-centered">Application for <%=@application.name%></h1>
<br>
<br>
<br>
<div class="app-show">
<p>
  <strong id="title-form">Name:</strong>
  <%= @application.name %>
</p>

<p class="title-form">
  <strong class="title-form">Sport:</strong>
  <%= @application.sport %>
</p>

<p>
  <strong class="title-form">Rank:</strong>
  <%= @application.rank %>
</p>
</div>
<!-- Admin give sponsorship buttons -->
<% if current_user.admin == true && @application.sponsorship.user_id == current_user.id %>
<div class="container">
<div class="rewards-spons">
<h3>Rewards to be given</h3>
<% @sponsorship.rewards.each do |reward| %>

  <%= reward.good %><br/>
  <%= reward.number_of_goods %><br/>

<% end %>
</div>

<div class="container">

<% if @application.approval == false  %>
  <%= form_for ([@sponsorship, @application]) do |f| %>
  <%= f.hidden_field :approval, value: true %>
  <div class="actions">
    <%= f.submit "Sponsor Player", class:" btn btn-success btn-block", data: {disable_with: "Submitting..."} %>
  </div>
  <% end %>
  <% end %>
  <br>

<%= link_to 'Back', sponsorship_applications_path, class: 'btn btn-primary' %>  <%= link_to 'Reject', sponsorship_application_path(@sponsorship.id, @application.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

<br>



<br>

  <% if @application.approval == true %>
  <%= form_for ([@sponsorship, @application]) do |f| %>
  <%= f.hidden_field :approval, value: false %>
  <div class="actions">
    <%= f.submit "Remove sponsorship", class:"submit-button btn btn-warning", data: {disable_with: "Submitting..."} %>
  </div>
  <% end %>
  <% end %>


</div>

<% end  %>

<% if current_user.admin == false %>
<%= link_to 'View Sponsponsorship', sponsorship_path(@sponsorship.id) %>
<% end %>

