<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @application.sport %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @application.rank %>
</p>

<%= link_to 'Edit', edit_sponsorship_application_path(@application.sponsorship_id, @application.id) %> |
<%= link_to 'Back', sponsorship_applications_path %>
