<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @application.sport %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @application.rank %>
</p>

<!-- Admin give sponsorship buttons -->
<% if current_user.admin == true && @application.sponsorship.user_id == current_user.id %>

<% @sponsorship.rewards.each do |reward| %>

  <%= reward.good %><br/>
  <%= reward.number_of_goods %><br/>

  <%= form_for ([@sponsorship, @application]) do |f| %>
  <%= f.hidden_field :approval, value: true %>
  <div class="actions">
    <%= f.submit "Sponsor Player", class:"submit-button", data: {disable_with: "Submitting..."} %>
  </div>
  <% end %>
<% end %>


<%= link_to 'Back', sponsorship_applications_path %>

<% end  %>

<% if current_user.admin == false %>
<%= link_to 'View Sponsponsorship', sponsorship_path(@sponsorship.id) %>
<% end %>