<div class="container">
<div class="users-index">
<h1 id="athlete-title">Athletes</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% if user.admin == false %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin?  %></td>
      <td><%= link_to 'Show', user %></td>
      <% if current_user.id == user.id %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


<h1 id="company-title">Companies</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% if user.admin == true %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin?  %></td>
      <td><%= link_to 'Show', user %></td>
      <% if current_user.id == user.id %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>