<h1>Listing sponsorships</h1>
<%= form_tag sponsorships_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Sport</th>
      <th>Level</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |sponsorship| %>
      <% if current_user.admin == true && current_user.id == sponsorship.user.id || current_user.admin == false %> 
      <tr>
        <td><%= sponsorship.sport %></td>
        <td><%= sponsorship.level %></td>
        <td><%= sponsorship.description %></td>
        <td><%= sponsorship.user.first_name %></td>
        <td><%= link_to 'Show', sponsorship %></td>
         <% if current_user.admin == true  %>
        <td><%= link_to 'Edit', edit_sponsorship_path(sponsorship) %></td>
        <td><%= link_to 'Destroy', sponsorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin == true %>
<%= link_to 'New Sponsorship', new_sponsorship_path %>
<% end %>
