<p id="notice"><%= notice %></p>

<h1>Sponsorship:</h1>

<p>
  <strong>Sport:</strong>
  <%= @sponsorship.sport %>
</p>

<p>
  <strong>Level:</strong>
  <%= @sponsorship.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsorship.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @sponsorship.user.first_name %>
</p>

<h2>Rewards</h2>

<% @sponsorship.rewards.each do |reward| %>
<p>
  <%= reward.good %><br/>
  <%= reward.number_of_goods %><br/>
<% end %>


<!-- Link to Applications -->
<% if can?(:destroy, Application) %>
<%= link_to 'Applications', sponsorship_applications_path(@sponsorship.id) %>
<% end %>


<!-- Apply for Sponsorship Feilds -->

<% current_user.applications.each do |application|
   @current_user_sponsorships_applied_to.push(application.sponsorship_id)
end
 %>

<% if current_user.admin == false &&  @current_user_sponsorships_applied_to.include?(@sponsorship.id) == false %>
<h2>Apply here</h2>
<%= form_for [@sponsorship, @application] do |f| %>
  <div class='field'>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :sport %><br/>
    <%= f.text_field :sport %>
  </div>
  <div class='field'>
    <%= f.label :rank %><br/>
    <%= f.number_field :rank %>
  </div>
  <%f.hidden_field :sponsorship_id, value: @sponsorship.id%>
  <div class='actions'>
    <%= f.submit %>
  </div>
  <% end %>

<% elsif current_user.admin == false &&  @current_user_sponsorships_applied_to.include?(@sponsorship.id) == true %>
  <% current_user.applications.each do |application|
    if application.sponsorship_id == @sponsorship.id
    %>
    <%= link_to 'View Your Application', sponsorship_application_path(application.sponsorship_id, application.id) %>
    <% end %>
  <% end %>

<% end %>


<!-- Navigation -->
<% if can?(:edit, Sponsorship) %>
<%= link_to 'Edit', edit_sponsorship_path(@sponsorship) %> |
<% end %>
<%= link_to 'Back', sponsorships_path %>