<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="col-md-12 col-sm-12">Sponsorship for <%=@sponsorship.user.first_name%> <%=@sponsorship.user.last_name%></h1>
<br>
<br>
<br>
<br>
<div class="show-spons">
<p>
  <strong>Sport:</strong>
  <%= @sponsorship.sport %>
</p>

<p>
  <strong>Level:</strong>
  <%= @sponsorship.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsorship.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @sponsorship.user.first_name %>
</p>

<h3 id="reward-form-title" class="col-md-12 col-sm-12">Rewards</h3>

<% @sponsorship.rewards.each do |reward| %>
<p>The approved applicant receives
  <%= reward.number_of_goods %>
  <%= reward.good %>
  </p>
<% end %>
</div>
<br/>
<!-- Link to Applications -->

<% if can?(:edit, Application) %>
<%= link_to 'Applications', sponsorship_applications_path(@sponsorship.id), class: 'btn btn-info' %>

<% end %>


<!-- Apply for Sponsorship Feilds -->

<% current_user.applications.each do |application|
   @current_user_sponsorships_applied_to.push(application.sponsorship_id)
end
 %>

<% if current_user.admin == false &&  @current_user_sponsorships_applied_to.include?(@sponsorship.id) == false %>
<br>
<br>
<div class="show-application">


<h2 id="apply-title">Apply here</h2>


<%= form_for [@sponsorship, @application] do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsorship.application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @sponsorship.application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='field'>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Applicant Name" %>
  </div>
  <div class='field'>
    <%= f.number_field :age, :class => "form-control", :placeholder => "How old is the applicant?" %>
  </div>
  <div class='field'>
    <%= f.text_field :location, :class => "form-control", :placeholder => "Where are you located?" %>
  </div>
  <div class='field'>
    <%= f.text_field :sport, :class => "form-control", :placeholder => "What sport do you play?" %>
  </div>
  <div class='field'>
    <%= f.text_field :level, :class => "form-control", :placeholder => "What level do you play your sport?" %>
  </div>
  <div class='field'>
    <%= f.number_field :rank, :class => "form-control", :placeholder => "What is your ranking?" %>
  </div>
  <div class='field'>
    <%= f.text_field :best_result, :class => "form-control", :placeholder => "What was you best result in your sport?" %>
  </div>
  <div class='field'>
    <%= f.text_field :playing_at, :class => "form-control", :placeholder => "Where do you play or train? (eg National Squash Academy)" %>
  </div>
  <div class='field'>
    <%= f.text_field :description, :class => "form-control", :placeholder => "Tell us a little about yourself!" %>
  </div>
  <div class='field'>
    <%= f.text_field :looking_for, :class => "form-control", :placeholder => "What do you want out of the sponsorship?" %>
  </div>

  <%f.hidden_field :sponsorship_id, value: @sponsorship.id%>
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<% elsif current_user.admin == false &&  @current_user_sponsorships_applied_to.include?(@sponsorship.id) == true %>
  <% current_user.applications.each do |application|
    if application.sponsorship_id == @sponsorship.id
    %>
    <%= link_to 'View Your Application', sponsorship_application_path(application.sponsorship_id, application.id), class:" btn btn-success"%>
    <% end %>
  <% end %>

<% end %>

<br><br>

<!-- Navigation -->
<% if can?(:edit, Sponsorship) %>
<%= link_to 'Edit', edit_sponsorship_path(@sponsorship), class: 'btn btn-default' %> |
<% end %>
<%= link_to 'Back', sponsorships_path, class: 'btn btn-default' %>
</div>