<p id="notice"><%= notice %></p>

<h1>Sponsorship:</h1>

<p>
  <strong>Sport:</strong>
  <%= @sponsorship.sport %>
</p>

<p>
  <strong>Level:</strong>
  <%= @sponsorship.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsorship.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @sponsorship.user.first_name %>
</p>

<h2>Rewards</h2>

<% @sponsorship.rewards.each do |reward| %>
<p>
  <%= reward.good %><br/>
  <%= reward.number_of_goods %><br/>
<% end %>



<% if can?(:edit, Sponsorship) %>
<%= link_to 'Edit', edit_sponsorship_path(@sponsorship) %> |
<% end %>
<%= link_to 'Back', sponsorships_path %>

<% if current_user.admin == false %>
<h2>Apply here</h2>
<%= form_for [@sponsorship, @application] do |f| %>
  <div class='field'>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :sport %><br/>
    <%= f.text_field :sport %>
  </div>
  <div class='field'>
    <%= f.label :rank %><br/>
    <%= f.number_field :rank %>
  </div>
  <%f.hidden_field :sponsorship_id, value: @sponsorship.id%>
  <div class='actions'>
    <%= f.submit %>
  </div>
  <% end %>
  <% end %>
