<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="col-md-12 col-sm-12">Sponsorship for <%=@sponsorship.user.first_name%> <%=@sponsorship.user.last_name%></h1>
<br>
<br>
<br>
<br>
<div class="show-spons">
<p>
  <strong>Sport:</strong>
  <%= @sponsorship.sport %>
</p>

<p>
  <strong>Level:</strong>
  <%= @sponsorship.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsorship.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @sponsorship.user.first_name %>
</p>

<h3 id="reward-form-title" class="col-md-12 col-sm-12">Rewards</h3>

<% @sponsorship.rewards.each do |reward| %>
<p>The approved applicant receives
  <%= reward.number_of_goods %>
  <%= reward.good %>
  </p>
<% end %>
</div>

<!-- Link to Applications -->
<% if can?(:destroy, Application) %>
<%= link_to 'Applications', sponsorship_applications_path(@sponsorship.id) %>
<% end %>


<!-- Apply for Sponsorship Feilds -->

<% current_user.applications.each do |application|
   @current_user_sponsorships_applied_to.push(application.sponsorship_id)
end
 %>

<% if current_user.admin == false &&  @current_user_sponsorships_applied_to.include?(@sponsorship.id) == false %>
<br>
<br>
<div class="show-application">


<h2 id="apply-title">Apply here</h2>


<%= form_for [@sponsorship, @application] do |f| %>
  <div class='field'>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :sport %><br/>
    <%= f.text_field :sport %>
  </div>
  <div class='field'>
    <%= f.label :rank %><br/>
    <%= f.number_field :rank %>
  </div>
  <%f.hidden_field :sponsorship_id, value: @sponsorship.id%>
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<% elsif current_user.admin == false &&  @current_user_sponsorships_applied_to.include?(@sponsorship.id) == true %>
  <% current_user.applications.each do |application|
    if application.sponsorship_id == @sponsorship.id
    %>
    <%= link_to 'View Your Application', sponsorship_application_path(application.sponsorship_id, application.id) %>
    <% end %>
  <% end %>

<% end %>


<!-- Navigation -->
<% if can?(:edit, Sponsorship) %>
<%= link_to 'Edit', edit_sponsorship_path(@sponsorship) %> |
<% end %>
</div>
<%= link_to 'Back', sponsorships_path, class: 'btn btn-primary' %>