<!DOCTYPE html>
<html>
<head>
  <title>Sponsi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body class="bg-grey">





<!--   <div id="main-container" class="container-fluid"> -->

  <% if user_signed_in? %>


  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>


  <% end %>

    <% if flash[:notice] %>
    <p id="notice" class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
    <p id="alert" class="alert"><%= flash[:alert] %></p>
  <% end %>



 <%= yield %>

<!--  </div> -->


</body>
</html>
